html, body {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    padding-right: 20px;
}

.sectionone {
    background-color: #1f2937;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.seconetext, .seconeimg {
    width: 515px;
    height: 250px;
    margin: 100px;
}

button {
    background-color: #3882f6;
    padding: 8px 25px;
    font-weight: bold;
    color: white; 
}